#container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  padding: .6rem 0;
  background-color: #0d6366;

  span {
    margin-right: .7rem;
  }

  .footer {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  
  .img {
    max-height: 2rem;
  }

  .logo-abrasel {
    max-height: 2rem;
    margin-bottom: .5rem;
  }
}
